# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Windows shortcuts
*.lnk

# =========================
# Operating System Files
# =========================

# OSX
# =========================

.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*

# Files that might appear in the root of a volume
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk

/obj
/packages
/.vs

/bin
# Exclude all files after /bin, except this file:
!/bin/*/DBReport_northwind_ok.txt
!/bin/*/DBReport_northwindEF_db_ok.txt

# New project folder, in order to add a test project
/DBReport.vbproj.html
/DBReport.vbproj.ini
/DBReport/DBReport.vbproj.html
/DBReport/DBReport.vbproj.ini
/DBReport/DBReport.vbproj.user
/DBReport/bin/northwindEF.db
/DBReport/bin/Debug/net8.0-windows
/DBReport/bin/Release/net8.0-windows
/DBReport/obj
