<?xml version="1.0" encoding="utf-8"?>
<configuration>

  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="DBReport.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>

  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <!-- <probing privatePath="DLL"/> -->
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Buffers" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.3.0" newVersion="4.0.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Memory" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.1.2" newVersion="4.0.1.2" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Diagnostics.DiagnosticSource" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-7.0.0.2" newVersion="7.0.0.2" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Text.Json" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-7.0.0.2" newVersion="7.0.0.2" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Extensions.Logging.Abstractions" publicKeyToken="adb9793829ddae60" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-7.0.0.0" newVersion="7.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>

  <system.diagnostics>
    <sources>
      <!-- Cette section définit la configuration de l'enregistrement dans le fichier journal de My.Application.Log -->
      <source name="DefaultSource" switchName="DefaultSwitch">
        <listeners>
          <add name="FileLog" />
          <!-- Supprimez les marques de commentaire dans la section suivante pour écrire dans le journal des événements de l'application -->
          <!--<add name="EventLog"/>-->
        </listeners>
      </source>
    </sources>
    <switches>
      <add name="DefaultSwitch" value="Information" />
    </switches>
    
    <sharedListeners>
      <add name="FileLog" type="Microsoft.VisualBasic.Logging.FileLogTraceListener, Microsoft.VisualBasic, Version=8.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a, processorArchitecture=MSIL" initializeData="FileLogWriter" />
      <!-- Supprimez les marques de commentaire dans la section suivante et remplacez APPLICATION_NAME par le nom de votre application à écrire dans le journal des événements de l'application -->
      <!--<add name="EventLog" type="System.Diagnostics.EventLogTraceListener" initializeData="APPLICATION_NAME"/> -->
    </sharedListeners>

  </system.diagnostics>
  
  <startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" /></startup>
  
  <userSettings>
    <DBReport.My.MySettings>
      <setting name="DBServer" serializeAs="String">
        <value>localhost</value>
      </setting>
      <setting name="DBName" serializeAs="String">
        <value />
      </setting>
      <setting name="UserName" serializeAs="String">
        <value>root</value>
      </setting>
      <setting name="UserPassword" serializeAs="String">
        <value />
      </setting>
      <setting name="DBProvider" serializeAs="String">
        <value>MySql.Data.MySqlClient</value>
      </setting>
      <setting name="DisplayTableAndFieldDescription" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="DisplayFieldType" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="DisplayFieldDefaultValue" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="DisplayLinkName" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="SortColumns" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="SortIndexes" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="SortLinks" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="AlertNotNullable" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="ForeignKeyDeleteRule" serializeAs="String">
        <value>RESTRICT</value>
      </setting>
      <setting name="ForeignKeyUpdateRule" serializeAs="String">
        <value>RESTRICT</value>
      </setting>
      <setting name="MySqlTableEngine" serializeAs="String">
        <value>InnoDB</value>
      </setting>
      <setting name="MySqlServerCollation" serializeAs="String">
        <value>utf8_general_ci</value>
      </setting>
      <setting name="MySqlDatabaseCollation" serializeAs="String">
        <value>utf8_general_ci</value>
      </setting>
      <setting name="MySqlTableCollation" serializeAs="String">
        <value>utf8_general_ci</value>
      </setting>
      <setting name="MySqlColumnCollation" serializeAs="String">
        <value>utf8_general_ci</value>
      </setting>
      <setting name="MySqlSQLMode" serializeAs="String">
        <value>STRICT_TRANS_TABLES,NO_ENGINE_SUBSTITUTION</value>
      </setting>
      <setting name="MySqlInnodbStrictMode" serializeAs="String">
        <value>ON</value>
      </setting>
      <setting name="MySqlTimeOutMaxSec" serializeAs="String">
        <value>99999</value>
      </setting>
      <setting name="MySqlNetReadTimeoutSec" serializeAs="String">
        <value>-1</value>
      </setting>
      <setting name="MySqlNetWriteTimeoutSec" serializeAs="String">
        <value>-1</value>
      </setting>
      <setting name="MySqlDisplayTableEngine" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="MySqlDisplayCollation" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="InstanceName" serializeAs="String">
        <value></value>
      </setting>
      <setting name="Port" serializeAs="String">
        <value></value>
      </setting>
    </DBReport.My.MySettings>
  </userSettings>
</configuration>
